 .containner1-avaliacao {
    width: 100%;
    background-color: var(--cor-de-fundo-1);
}

.front-page-avaliacao {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.front-page__frase-avaliacao {
    color: var(--azul-destaque);
    font-family: var(--fonte-primaria);
    text-align: center;
    font-size: 40px;
    justify-content: center;
}

.containner2-avaliacao {
    width: 100%;
    height: 350vh;
    background-color: var(--cor-de-fundo-2);

}

.main__conteudo-principal-avaliacao {
    width: 100;
    height: 330vh;
    border: 2px solid var(--azul-destaque);
    background-color:var(--cor-de-fundo-3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containner-video{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: var(--azul-pastel-escuro);
    font-family: var(--fonte-secundaria);
    font-weight: bolder;
    font-size: 1.9em;
    text-align: center;
}

.titulo-video {
    width: 100%;
    color: var(--cor-de-fundo-1);
    transition: 1s;
    margin: 2em;

}

.titulo-video:hover {
    transform: scale(1.05);
}

.video-avaliacao {
    margin-bottom: 1em;
    border: 2px solid var(--azul-destaque);
    box-shadow: 3px 3px 5px #000000;
    width: 70%;
}

.alternativa{
    display: flex;
}

.containner-questao {
    width: 100%;
    height: 600px;    
    margin-top: 2em;
    background-color:var(--cor-de-fundo-3);
    color: var(--azul-pastel-escuro);
    font-family: var(--fonte-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--cor-de-fundo-2);
}

.containner-alternativas {
    width: 100%;
}

.containner-pergunta {
    width: 90%;
    border: 2px solid var(--azul-pastel-escuro);
    background-color: var(--cor-de-fundo-1);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    transition: 1s;
}

.pergunta {
    margin: 1em;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: left;
    color: var(--cor-de-fundo-3);
}

.containner-alternativas {
    border: 1px solid var(--azul-pastel-escuro);
    border-top: 0;
}

.alternativa {
    width: 100%;
    height: 4em;
    line-height: 4em;
    border-top: 1px solid var(--azul-pastel-escuro);
    transition: 0.5s;
}

.alternativa:hover {
    border: 1px solid var(--cor-de-fundo-1);
    transform: scale(1.03);
}

.letra-alternativa {
    width: 3%;
    background-color: var(--azul-pastel-escuro);
    color: var(--cor-de-fundo-3);
    font-size: 1.5em;
    font-family: var(--fonte-secundaria);
    text-align: center;
}

.texto-alternativa {
    width: 100%;
    margin: 0.5px 0 0.5px 0e;
    padding-left: 0.5em ;
    background-color: var(--cor-de-fundo-3);
    font-size: 1.3em;
    font-family: var(--fonte-secundaria);
}

.texto-alternativa:hover {
    background-color: var(--azul-pastel-escuro);
    color: var(--cor-de-fundo-3);
    cursor: pointer;
}

.containner-feedback {
    width: 90%;
    margin-bottom: 3em;
    border: 2px solid var(--cor-de-fundo-1);
    border-top: 0;
    border-radius: 0 0 10px 10px;
    background-color: var(--cor-de-fundo-1);
}

.feedback {
    margin: 1em;
    font-size: 1em;
    text-align: left;
    transform: 1s;
}

