.containner1 {
    width: 100%;
    background-color: var(--cor-de-fundo-1);
}

.front-page {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

span {
    color: var(--cor-de-fundo-3);
    font-family: var(--fonte-primaria);
    font-size: 30px;
    margin-left: 80%;
    margin-bottom: 16%;

}

.front-page__frase {
    color: var(--azul-destaque);
    font-family: var(--fonte-primaria);
    text-align: center;
    font-size: 40px;
    justify-content: center;
    margin-bottom: 15%;
  
}

.front-page__frase_autor {
    color: var(--azul-claro);
    font-family: var(--fonte-primaria);
    font-size: 40px;
    text-align: right;
}

