.containner1 {
    width: 100%;
    background-color: var(--cor-de-fundo-1);
}

.front-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.front-page__titulo {
    height: 20vh;
    color: var(--azul-destaque);
    font-family: var(--fonte-primaria);
    font-weight: bolder;
    text-align: center;
    font-size: 4em;
    justify-content: center;
    line-height: 3em;
}

.front-page__frase_autor {
    color: var(--azul-claro);
    font-family: var(--fonte-primaria);
    font-size: 40px;
}

