/* estilos ______________________________________________________________________________________________________________________________*/
@import url(frontPage.css);
@import url(main.css);
@import url(portfolio.css);
@import url(transitions.css);
@import url(arrowAnimation.css);
@import url(resetrafa.css);
@import url(swiper.css);

/* fontes ______________________________________________________________________________________________________________________________*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;1,600&family=Inter:wght@400;700&display=swap');

/* variáveis */
:root {
    /* cores de fundo */
    --cor-de-fundo-1:#061723;
    --cor-de-fundo-2:#01080E;
    --cor-de-fundo-3:#FFFFFF;

    /* fontes */
    --fonte-primaria:'Chakra Petch', sans-serif; 
    --fonte-secundaria: 'Inter', sans-serif;

    /* cores de fonte para fundo escuro */
    --azul-destaque: #2BDEFD;
    --azul-claro-destaque: #bff1fa;
    --azul-claro: #98D4DE;
    --cor-fonte-branco-azulado: #D7F9FF;

    /* cores de fonte para fundo branco */
    --cor-fonte-azul-royal: #006eff;
    --cor-fonte-azul-escuro: #051933;
    --cor-fonte-verde-agua: #2BFDBE;
    --azul-pastel: #90c5dc;
    --azul-pastel-escuro: #5e888f;
    

    /* cores de contraste */
    --roxo-claro:#A56CFF;
    --vermelho-rosa:#E81B5C;
    --rosa:#DC6EBE;
    --amarelo-dourado:#FFBA05;
    --laranja:#FF8C2A;
    --verde-escuro:#00C86F;
    --verde-claro:#98CD39;
    --salmao:#F16165;
}

/* estilizações gerais ____________________________________________________________________________________________________________ */
body {
    background-color: #ff01d0;
    width: 100%;
    height: auto;
  }
  
  /* estilização scrollbar ___________________________________________________________________________________________________________*/

body::-webkit-scrollbar {
    width: 12px;          
  }
  
  body::-webkit-scrollbar-track {
    background: var(--cor-de-fundo-2);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--azul-claro);
    border: 5px solid var(--cor-de-fundo-2);
  }
  
  body::-webkit-scrollbar-thumb:hover {
    border: 2px solid var(--cor-de-fundo-2);
  }

/* estilizações gerais */
.limiter {
    max-width: 90%;
}

.aligner {
    margin: 0 auto;
}

.containner {
    width: 100%;
}

